@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jaya Karya App</title>
</head>
<body>
    <div>
        <h1>Sample Client App Jaya Karya</h1>
        @Html.ActionLink("Product", "../Product")
    </div>
</body>
</html>
