<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h3>Selamat datang~</h3>
        <ol class="round">
            <li class="one">
                <h5>@Html.ActionLink("Product","../Product")</h5><br />
            </li>
            <li class="two">
                <h5>@Html.ActionLink("User","../User")</h5><br />
            </li>
            <li class="three">
                <h5>@Html.ActionLink("Order","../Order")</h5><br />
            </li>
        </ol>
    </section>
</div>
