@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toko X</title>
</head>
<body>
    <div>
        <h1>Sample Client App Toko X</h1>
        @Html.ActionLink("Barang", "../Barang")
    </div>
</body>
</html>
